.catalog__container {
    margin-bottom: 5rem;
}

.title {
    text-align: center;
    margin: 3rem 0;
}

.cards__container {
    display: flex;
    gap: 24px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}